{% extends 'blog/base.html' %} 

{% block content %}
{% include 'blog/form_error.html' %}
    <hr>
    <h2>제목: {{ post.title }}</h2>
    <p>내용: {{ post.content }}</p>
    <p>작성자: {{ post.writer.username }}</p>
    <p>작성일: {{ post.created_at }}</p>
    <div style="display: flex;">
        <a style="margin-right: 5px;" href="/blog" class="btn btn-outline-success">목록</a>
        {% if post.writer == request.user %}
            <a style="margin-right: 5px;" href="{% url 'blog:edit' pk=post.pk %}" class="btn btn-outline-success">수정</a>
            <form action="{% url 'blog:delete' pk=post.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-outline-success" value="삭제"></input>
            </form>
        {% endif %}
    </div>
    <hr>
    <!-- 태그 작성 화면 -->
    <h3>해시태그</h3>
    <form style="display: flex; align-items: center;" action="{% url 'blog:tag-write' pk=post.pk %}" method="post">
        {% csrf_token %}
        {{ hashtag_form.name }}
        <input style="margin-left: 5px;" type="submit" class="btn btn-outline-success" value="태그 작성"></input>
    </form>

    <!-- 태그 출력 화면 -->
    {% if post.hashtags.all %}
        <ul>
        {% for hashtag in post.hashtags.all %}
            <li>{{ hashtag }}
                {% if hashtag.writer == request.user %}
                    <form action="{% url 'blog:tag-delete' pk=hashtag.pk %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="X"></input>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>태그가 없습니다.</p>
    {% endif %}

    <hr>
    <!-- 댓글 작성 화면 -->
    <h3>댓글</h3>
    <form style="display: flex; align-items: center;" action="{% url 'blog:cm-write' pk=post.pk %}" method="post">
        {% csrf_token %}
        {{ comment_form.content }}
        <input style="margin-left: 5px;" type="submit" class="btn btn-outline-success" value="댓글 작성"></input>
    </form>
    <hr>
    <!-- 댓글 출력 화면 -->
    {% if post.comment_set.all %}
        <ul>
        {% for comment in post.comment_set.all %}
            <li style="display: flex;">{{ comment.content }} / {{ comment.created_at }}
                {% if comment.writer == request.user %}
                    <form action="{% url 'blog:cm-delete' pk=comment.pk %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outline-success" value="X"></input>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>댓글이 없습니다.</p>
    {% endif %}

{% endblock %}